# Data Visualization with Pandas and matplotlib

In [18]:
import pandas as pd
import numpy as np
from sklearn.metrics import pairwise_distances
import csv

In [22]:
data = pd.read_csv('dataset.csv')
data.set_index ('Id',inplace = True)

In [23]:
data.head()

     Experience   Company  php  python  qa  js  qualification  level  age
Id
1.0         0.0  Deerwalk    1       0   0   0              1      1    1
2.0         4.0    F1soft    0       0   0   1              2      3    5
3.0         4.0  Leapfrog    0       1   0   0              2      3    3
4.0         4.0  Leapfrog    0       0   1   0              2      3    4
5.0         1.0    F1soft    1       0   0   0              3      2    2

In [30]:
company = data['Company']

In [32]:
company.head()

Id
1.0    Deerwalk
2.0      F1soft
3.0    Leapfrog
4.0    Leapfrog
5.0      F1soft
Name: Company, dtype: object

In [35]:
data.drop('Company', axis = 1, inplace= True)

In [38]:
cosine_sim = 1-pairwise_distances(data, metric="cosine")

In [44]:
result= pd.DataFrame(cosine_sim)

In [45]:
result.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.000000,0.674200,0.640513,0.663489,0.917663,0.666667,0.629941,0.577350,0.746203,0.762493,...,0.753778,0.869626,0.603023,0.583333,0.753778,0.686803,0.606780,0.722315,0.753778,0.676123
1,0.674200,1.000000,0.950034,0.974172,0.804295,0.809040,0.968330,0.934199,0.948683,0.945894,...,0.935083,0.874123,0.853771,0.809040,0.975739,0.926085,0.963636,0.973970,0.772460,0.934477
2,0.640513,0.950034,1.000000,0.967994,0.808190,0.907393,0.907841,0.993838,0.955904,0.854676,...,0.965609,0.784873,0.965609,0.934081,0.941469,0.967793,0.993217,0.963858,0.820768,0.866131
3,0.663489,0.974172,0.967994,1.000000,0.811812,0.860078,0.965949,0.957664,0.943042,0.899388,...,0.955792,0.839254,0.889108,0.860078,0.955792,0.951877,0.974172,0.976246,0.844653,0.897201
4,0.917663,0.804295,0.808190,0.811812,1.000000,0.841191,0.722592,0.761606,0.880409,0.874639,...,0.899229,0.906845,0.760886,0.802955,0.899229,0.850842,0.773360,0.856171,0.899229,0.736788

In [51]:
#find most similar user with user 1
similar = result.iloc[[1]]

In [81]:
similar

1  0      0.674200
   1      1.000000
   2      0.950034
   3      0.974172
   4      0.804295
   5      0.809040
   6      0.968330
   7      0.934199
   8      0.948683
   9      0.945894
   10     0.875811
   11     0.871847
   12     0.881953
   13     0.963636
   14     0.953463
   15     0.954994
   16     0.611577
   17     0.875811
   18     0.948119
   19     0.767523
   20     0.971625
   21     0.804030
   22     0.984937
   23     0.881953
   24     0.964836
   25     0.963128
   26     0.823886
   27     0.804943
   28     0.955411
   29     0.910170
            ...
   970    0.835229
   971    0.864900
   972    0.799193
   973    0.810163
   974    0.840918
   975    0.809040
   976    0.815436
   977    0.823411
   978    0.931037
   979    0.981818
   980    0.896065
   981    0.894427
   982    0.966811
   983    0.908249
   984    0.974835
   985    0.813116
   986    0.966811
   987    0.894427
   988    0.971625
   989    0.984937
   990    0.935083
   991    0.874123
   992    0.853771
   993    0.809040
   994    0.975739
   995    0.926085
   996    0.963636
   997    0.973970
   998    0.772460
   999    0.934477
dtype: float64

In [71]:

final= similar.sort_values(ascending=False)

In [82]:
final = final.iloc[0:5:1]

In [83]:
final

1  855    1.000000
   514    1.000000
   1      1.000000
   724    1.000000
   956    0.996479
dtype: float64

In [ ]:
print